<nav class="navbar navbar-light bg-light">
    <div class="container-fluid row">
        <div class="col-9">
            <a class="navbar-brand col-9">Navbar</a>
        </div>
      <div class="col-3">
        <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
        </ul>
        </div>
    </div>
  </nav>